<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeCoverage" version="17.4.1" targetFramework="net6.0" />
  <package id="Microsoft.NET.Test.Sdk" version="17.4.1" targetFramework="net6.0" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.4.1" targetFramework="net6.0" />
  <package id="Microsoft.TestPlatform.TestHost" version="17.4.1" targetFramework="net6.0" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net6.0" />
  <package id="NuGet.Frameworks" version="5.11.3" targetFramework="net6.0" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net6.0" />
</packages>